# Copyright (c) 2025 Egis Technology Inc.
# SPDX-License-Identifier: Apache-2.0

config PINCTRL_ET171
	bool "Egis et171 pin controller"
	default y
	depends on DT_HAS_EGIS_ET171_PINCTRL_ENABLED
	help
	  Enables Egis et171 pin controller
